body {
    background-color: #fffde7;
    font-family: 'Impact', Charcoal, sans-serif;
    text-align: center;
    padding: 40px;
}

.video-container {
    margin: 25px auto;
}

.animated-box {
    width: 260px;
    height: 60px;
    margin: 35px auto;
    background-color: #fbc02d;
    line-height: 60px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 12px;
    position: relative;
}
